

    <div class="container">

      <div class="bg-faded p-4 my-4">
        <hr class="divider">
        <h2 class="text-center text-lg text-uppercase my-0">About
          <strong>Helen Feng</strong>
        </h2>
        <hr class="divider">
        <div class="row">
          <div class="col-lg-6">
            <img class="img-fluid mb-4 mb-lg-0" src="img/slide-2.jpg" alt="">
          </div>
          <div class="col-lg-6">
            <p>I am a person likes think of the big picture. I am genuine to people, I care a lot about people and their well being. I motivate each person to succeed in their goals. I am positive and believe that we all serve a purpose to be in this world. As a Full Stack Developer, I enjoying building websites and creating contents. Always open and eager to learn new things!</p>
          </div>
        </div>
      </div>

      <div class="bg-faded p-4 my-4">
        <hr class="divider">
        <h2 class="text-center text-lg text-uppercase my-0">My 
          <strong>Experience</strong>
        </h2>
        <hr class="divider">
        <div class="row">
             <div class="col-md-4 mb-4 mb-md-0">
            <div class="card h-100">
              <img class="card-img-top" src="img/html.png" alt="HTML Logo Image">
              <div class="card-body text-center">
                <h4 class="card-title m-0"><strong>HTML</strong>
                </h4>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4 mb-md-0">
            <div class="card h-100">
              <img class="card-img-top" src="img/css3-512.png" alt="CSS Logo Image">
              <div class="card-body text-center">
                <h4 class="card-title m-0"><strong>CSS</strong>
                </h4>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card h-100">
              <img class="card-img-top" src="img/Bootstrap.png" alt="Bootstrap Logo Image">
              <div class="card-body text-center">
                <h4 class="card-title m-0"><strong>Bootstrap</strong>
                </h4>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4 mb-md-0">
            <div class="card h-100">
              <img class="card-img-top" src="img/Angular.png" alt="Angular Logo Image">
              <div class="card-body text-center">
                <h4 class="card-title m-0"><strong>AngularJs</strong>
                </h4>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4 mb-md-0">
            <div class="card h-100">
              <img class="card-img-top" src="img/React.png" alt="React Logo Image">
              <div class="card-body text-center">
                <h4 class="card-title m-0"><strong>ReactJs</strong>
                </h4>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card h-100">
              <img class="card-img-top" src="img/vue.jpg" alt="Vue Logo Image">
              <div class="card-body text-center">
                <h4 class="card-title m-0"><strong>VueJs</strong>
                </h4>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card h-100">
              <img class="card-img-top" src="img/c.png" alt="C# Logo Image">
              <div class="card-body text-center">
                <h4 class="card-title m-0"><strong>C#</strong>
                </h4>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card h-100">
              <img class="card-img-top" src="img/node.png" alt="NodeJs Logo Image">
              <div class="card-body text-center">
                <h4 class="card-title m-0"><strong>NodeJs</strong>
                </h4>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card h-100">
              <img class="card-img-top" src="img/Sql.png" alt="SQL Logo Image">
              <div class="card-body text-center">
                <h4 class="card-title m-0"><strong>SQL Server</strong>
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
